<div class="main-container">
<div class="navbar">
  <img src="../../../assets/logo.webp" alt="logo">
  <div class="btns-container">
    <button class="register-btn" (click)="navigateToRegister()">Sign Up</button>
  <button class="login-btn" (click)="navigateToLogin()">Login</button>
  </div>
</div>
<div class="banner">
  <div class="banner-content">
      <!-- <img src="../../../assets/test-banner.jpg" alt="Banner Image"> -->
      <h1>Diverse Market</h1>
      <p>Find the Best Talent on the Digital Market</p>
  </div>
</div>

<div class ="info-section">
  Info section
</div>

<div class="search-container">
  <input type="text" placeholder="Search for workers..." (input)="onSearchInputChange($event)">
  <div class="search-results" *ngIf="searchResults.length > 0">
    <ul>
      <li *ngFor="let result of searchResults" (click)="onSearchResultClick(result)">
        {{ result.username }} <!-- Assuming each result has a 'username' property -->
      </li>
    </ul>
  </div>
</div>
</div>
