<div class="title">
  <div class="info-section">
  <h1>{{user.username | uppercase}}</h1>
  <p>{{user.email}}</p>
</div>
  <hr class="title-line">
</div>
<div class="about-container">
  <div class="image-section">
  <img [src]="isPreview ? previewImage : userImage" alt="default-fallback">
  <button  *ngIf="isPreview" (click) ="uploadImage()" class="upload-btn" mat-raised-button color="primary">
    <mat-icon>cloud_upload</mat-icon>
  </button>
  <div class="upload-button">
    <input type="file" (change)="onFileSelected($event)" accept="image/*" id="fileInput">
    <label for="fileInput">
      <mat-icon>add</mat-icon>
    </label>
  </div>
</div>
  <div class="description-section">
    {{user.description}}
  </div>
</div>
<hr class="about-section-line">
<div class="portfolio-entries-list">
  <div class="add-entry-button">
    <button mat-raised-button (click) = "onAddEntry()">New Entry</button>
  </div>
  <div *ngFor="let entry of portfolioEntries$ | async" class="portfolio-entry">
    <div class="entry-details">
      <h2>{{ entry.title }}</h2>
      <p>{{ entry.description }}</p>
    </div>
    <div class="entry-image">
      <a href="{{ entry.customerUrl }}" target="_blank">Visit Customer Website</a>
      <img [src]="(isPreviewEntry && entry.id === activeEntryId) ? previewEntryImage : (entry.entryImage ? entry.entryImage : entryImageDefault)" alt="fallback" class="rounded-image">
    </div>
    <div class="entry-actions">
      <button mat-button color="accent" (click)="editEntry(entry)">
        <mat-icon>edit</mat-icon>Edit
      </button>
      <button mat-button color="warn" (click)="deleteEntry(entry)">
        <mat-icon>delete</mat-icon> Delete
      </button>
      <div class="upload-img-button">
        <input type="file" (change)="onFileSelectedEntry($event,entry)" [ngStyle]="{'display': 'none'}" accept="image/*"  [id]="'fileInputEntry_' + entry.id">
        <label [for]="'fileInputEntry_' + entry.id">
          <mat-icon>cloud_upload</mat-icon> Upload
        </label>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editEntryForm" class="edit-entry-form">
  <mat-card>
    <mat-card-title>Edit Form</mat-card-title>
    <button mat-icon-button class="close-button" (click)="closeEntryEditForm()">
      <mat-icon>close</mat-icon>
    </button>

    <mat-card-content>
      <form [formGroup]="editEntryForm" (ngSubmit)="saveChanges()">
        <mat-form-field>
          <label>Title:</label>
          <input matInput formControlName="title" id="title" />
        </mat-form-field>

        <mat-form-field>
          <label>Description:</label>
          <textarea matInput formControlName="description" id="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <label>Customer Link:</label>
          <input matInput formControlName="customerUrl" id="customerUrl" />
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>



<div *ngIf="addNewEntryForm" class="edit-entry-form">
  <mat-card>
    <mat-card-title>Add New Form</mat-card-title>
    <button mat-icon-button class="close-button" (click)="closeAddEntryForm()">
      <mat-icon>close</mat-icon>
    </button>

    <mat-card-content>
      <form [formGroup]="addNewEntryForm" (ngSubmit)="createEntry()">
        <mat-form-field>
          <label>Title:</label>
          <input matInput formControlName="title" id="title" />
        </mat-form-field>

        <mat-form-field>
          <label>Description:</label>
          <textarea matInput formControlName="description" id="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <label>Customer Link:</label>
          <input matInput formControlName="customerUrl" id="customerUrl" />
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Add</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>


<div  *ngIf ='isDialogueActive'class="upload-dialogue">
  <mat-card>
    <mat-card-title>Upload Image</mat-card-title>
    <mat-card-content>
      <div mat-dialog-content>
        <p>Do you want to upload the image?</p>
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="onYesAns()">Yes</button>
        <button mat-button (click)="onNoAns()">No</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>


